:global {
  body[data-theme='light'] {
    --header-color: var(--gray-300);
  }

  body[data-theme='dark'] {
    --header-color: var(--white);
  }
}

.header {
  padding: 35px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.logo {
  color: var(--header-color);
  font-size: 1.75rem;
  line-height: 1.5;
  font-weight: 700;
}